<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:sharedUserId="android.uid.system" package="cn.nian.stocksettings" platformBuildVersionCode="20" platformBuildVersionName="4.4W.2-1537038">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:process="com.android.settings">
        <activity android:label="@string/app_name" android:name="cn.nian.stocksettings.StockSettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="com.android.settings.MANUFACTURER_APPLICATION_SETTING"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="com.android.settings.FRAGMENT_CLASS" android:value="com.android.settings.DeviceSpecial"/>
        </activity>
        <activity android:name="cn.nian.stocksettings.CameraActivity"/>
        <receiver android:name="cn.nian.stocksettings.Startup">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
